<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Websocket">
  <ion-content class="padding">
    <button ng-click = "wsConnect()">Connect</button>
    <button ng-click = "send('light',1)">On</button>
    <button ng-click = "send('light',0)">Off</button>
    <button ng-click = "wsClose()">Disconnect</button>
      <ion-list >
          <ion-item ng-repeat="item in detail.list">
              Sensor: {{item.sensor}}
              <hr>
              Value: {{item.value}}
          </ion-item>
      </ion-list>
      <div ng-show="lights">
          Lights On
      </div>
      <div ng-hide="lights">
          Lights Off
      </div>
      <div ng-show= "announce ==='Connected'">
         Status: Connected
      </div>

      <div ng-show= "announce ==='Disconnected'">
         Status: Disconnected
      </div>
  </ion-content>
</ion-view>
